<html>
  <body>
    <%= title %> <% if (user) { %>
    <a href="/logout">Logout</a>
    <a href="/newMessage">New Message</a>
    <% } else { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% } %>
    <% console.log(messages) %>
    <% console.log(user) %>
    <ul>
      <% messages.forEach((message) => { %> <%- include('message', { message:
      message, user: user }) %> <% }); %>
    </ul>
  </body>
</html>
