<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>
    <p><%= message %></p>
    <a href="/membership">Sign up to be a club member!</a>
    <a href="/">Go home</a>
  </body>
</html>
