<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      Sorry, your input does not match the passcode. Please check your input and
      try again.
    </p>
    <a href="/membership">Go back</a>
  </body>
</html>
