<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/membership" method="post">
      <label for="passcode">Enter passcode: </label>
      <input type="text" id="passcode" name="passcode" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
