<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Congrats! You are offically a member of the Members-Only club!</p>
    <a href="/">Go Home</a>
  </body>
</html>
